<h3><%= user.value.firstname  user.value.lastname %></h3><br/>
<strong>Email: </strong> <%= user.value.email %><br/>
<strong>Plot Height: </strong> <%=  user.value.plotHeight %><br/>
<strong>Plot Width: </strong> <%=  user.value.plotWidth %><br/>
